<div>
  <table >
    <div  class="forId">
      <th>2</th>
    </div>
    <div class="forFirstLetter">
      <th>L</th>
    </div>
    <div class="forName">
      <th>Eka Daghelashvili</th>
    </div>
    <div class="forMail">
      <th>ekadagelashvili@gmail.com</th>
    </div>
  <nav>
    <img src="../image/fb-icon.png" alt="fb-icon">
    <img src="../image/linkedin-icon.jpg" alt="linkedin-icon">
    <img src="../image/G-plus.png" alt="G-icon">
  </nav>
  </table>
</div>
<!-- *ngFor="let user of users | async "  -->
